MyPassword.xcodeproj/xcuserdata
MyPassword.xcodeproj/xcuserdata/chance.xcuserdatad
MyPassword.xcodeproj/xcuserdata/chance.xcuserdatad/xcschemes
MyPassword.xcodeproj/xcuserdata/chance.xcuserdatad/xcschemes/MyPassword.xcscheme
MyPassword.xcodeproj/xcuserdata/chance.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
MyPassword.xcodeproj/project.xcworkspace/xcuserdata
